@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background-color: var(--Light-Grayish-Blue);
    overflow-x: hidden;
}

/* Main container */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    width: 100vw;
}

/* Article block */

.article-preview {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: clamp(300px, 80%, 800px);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.article-preview__image-wrapper {
    width: 100%;
    height: 225px;

    & .article-preview__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        display: block;
    }
}

/* Content */
.article-preview__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.article-preview__text {
    display: flex;
    flex-direction: column;
    gap: 15px;

    & .article-preview__title {
        font-size: 1.4em;
        line-height: 1.4;
        color: var(--Very-Dark-Grayish-Blue);
        padding: 12px 30px;
    }

    & .article-preview__description {
        font-size: 1.15em;
        line-height: 1.3;
        color: var(--Desaturated-Dark-Blue);
        padding: 0 30px;
    }
}

/* Footer */
.article-preview__footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 15px 25px;
    position: relative;
}   

/* Profile block */
.profile {
    display: flex;
    align-items: center;
    gap: 10px;

    .profile__photo {

        & img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }   
    }

    & .profile__info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .profile__name {
            font-size: 1.15em;
            color: var(--Very-Dark-Grayish-Blue);
        }

        .profile__date {
            font-size: 1.14em;
            color: var(--Grayish-Blue);
        }
    }
}

/* Share button */
.article-preview__share-button {
    background-color: var(--Light-Grayish-Blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: background-color .3s;
}

.article-preview__share-button:hover {
    background-color: var(--Grayish-Blue);
    cursor: pointer;
}

.article-preview__share-icon {
    width: 22px;
    height: 18px;
}

/* Share panel */
.article-preview__share-panel {
    user-select: none;
    position: absolute;
    left: 0;
    display: none;
    width: 100%;
    background-color: var(--Very-Dark-Grayish-Blue);
    padding: 30px 35px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;

    .article-preview__share-options {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    .article-preview__share-label {
        color: var(--Grayish-Blue);
        letter-spacing: 5px;
        font-size: 0.93rem;
    }
}

/* Responsive layout */

@media screen and (min-width: 700px) {
    .article-preview {
        flex-direction: row;
        max-height: 350px;  
    }

    .article-preview__image-wrapper {
        flex: 1;
        height: auto;
    }

    .article-preview__image {
        height: 100%;
        object-position: left;
    }

    .article-preview__content {
        flex: 1;
        padding: 30px;
    }

    .article-preview__share-panel {
        position: absolute;
        top: -60px;
        left: 195px;
        width: 70%;        
        flex-direction: column;
        padding: 10px 20px;
        align-items: space-between;
        border-radius: 10px;
        box-shadow: 0 0 5px var(--Very-Dark-Grayish-Blue);
    }

    .article-preview__share-panel::before {
        content: '';
        top: 40px;
        position: absolute;
        width: 25px;
        height: 15px;
        clip-path: polygon(100% 0, 0 0, 55% 100%);
        background-color: var(--Very-Dark-Grayish-Blue);
    }
}
